@media (max-width: 840px) {
  h2 {
    font-size: 2.25em;
  }
  h3{
    font-size: 1.4em;
  }
  p {
    font-size: 16px;
  }
  footer{
    flex-direction: column;
  }
  .social-icons{
    margin-top: 5%;
  }
  .banner img {
    width: 100%;
  }
  .member-log-btn,.header-logo i,.navbar a,.dropdown{
    display: none;
  }
  #menu-icon {
    display: block;
    text-align: center;
  }
  #menu-icon i{
    font-size: 28px;
    cursor: pointer;
  }
  .navbar a, .dropdown {
    display: none;
  }
  .navbar.show a, .navbar.show {
    display: block;
  }
  .navbar.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather{
    flex-direction: column;
  }
  .weather div{
    margin-bottom: 6%;
  }
  #cards img {
    width: 400px;
  }
  #cards {
    justify-content: center;
  }
}

@media (max-width: 1176px) {
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner div{
    width: 100%;
    margin-left: 0;
  }
}
