* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #f5f6f7;
  text-align: center;
  color: #1b1b32;
}
header {
  background-color: #0a0a23;
  height: 80px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
}
header h1 {
  color: #ffffff;
}
main h1 {
  font-family: "Hack-ZeroSlash", monospace;
  font-size: 34px;
  font-weight: 700;
  padding: 2.5rem;
}
div p {
  font-size: 23.4px;
}
.italic {
  font-size: 18.72px;
  font-family: italic;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: row;
}
/* ------------------------------------------------------------- */
.accordion {
  font-family: "Lato", sans-serif;
  background-color: #d0d0d5;
  color: #1b1b32;
  cursor: pointer;
  padding: 18px;
  margin: 5px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
  border: 3px solid #1b1b32;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.panel img{
  width: 100%;
  height: auto;
}
.panel p {
  font-size: 20px;
  padding: 20px;
  text-align:justify;
}
.accordion:after {
  content: " \2B9F";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2B9D";
}
.container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}
.ubicate-porfavor {
  grid-column: 2;
  margin-top: 10%;
}
@media (max-width: 1366px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }
}
