@media screen and (min-width: 841px) and (max-width: 1400px) {
  .details {
    display: none;
  }
  .card {
    width: fit-content;
    height: fit-content;
  }
  .color img {
    width: 280px;
    height: 200px;
  }
  .galeria-info p {
    font-size: 16px;
  }
  .discover-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 842px) and (max-width: 1124px) {
  .spotlights {
    margin-top: -30px;
  }
  .title h2 {
    margin-top: -30px;
  }
  .discover-grid {
    grid-template-columns: 1fr;
  }
  .discover-galeria {
    grid-column: 1;
  }
  aside {
    display: none;
  }
  .color img {
    width: 280px;
    height: 200px;
  }
}
