* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --form-bg-color: #f0f0f0;
  --label-color: #333;
  --input-border: 1px solid #ccc;
  --background-color: #fff;
  --text-color: #212225;
  --titles-color: #0d0f10;
  --primary-color: #eff0f0;
  --hover-color: #bd0057;
  --header-color: #177c9c;
  --font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, sans-serif;
}
.name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.5rem;
  text-align: left;
  margin-left: 2%;
  color: #fff;
}
header {
  background: var(--header-color);
  padding: 2rem;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  height: 80px;
}
nav {
  background-color: var(--primary-color);
  padding: 1rem;
  display: block;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  flex: 1 1 100%;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--hover-color);
}
.nav-a {
  padding: 7px;
  margin-left: 2%;
}
main {
  display: flex;
  justify-content: center;
  margin: 20px;
}
form {
  background-color: var(--form-bg-color);
  padding: 20px;
  margin: 6%;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
}
label {
  color: var(--label-color);
  display: block;
  margin-bottom: 5px;
}
input {
  border: var(--input-border);
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}
output {
  display: block;
}
.custom-button {
  background-color: #177c9c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 3;
  height: 60px;
}
@media (max-width: 1024px) {
  form {
    width: 90%;
  }
  footer{
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}
